.new_task{
    margin-left: 6%;
    margin-top: 50px;
}
.task_marg_tp_10{

    margin-top: 10px;
}
.task_container{
    border-bottom: 1px solid grey;
    height: 450px;
    overflow-y: scroll;
    border-bottom: 1px solid grey;
}
.task_tr > th{
    position: sticky;
    top: -1px;
    background-color: white;
}