.input_login{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .login_button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
   
  }
  .container {
    padding: 16px;
    width: 50%;
  }
  
  
  .main_container{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
  }
  .signin_label{
    font-size: 24px;
    font-weight: 400;
  }
  